<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>

  <h2>Dashboard</h2>

  <p>Name: <%= name %></p>

  <p>Username: <%= email %></p>

  <% if (user && user.role_name === 'admin') { %>
  <p class="edit-link">
    <a href="/users">Manage Users</a>
  </p>
  <% } %>
  
  <h2>My Volunteer Projects</h2>

    <% if (volunteeredProjects.length > 0) { %>

    <ul class="main-list">
      <% volunteeredProjects.forEach(project => { %>

        <li>

          <%= project.title %>

          <form
            action="/project/<%= project.project_id %>/unvolunteer"
            method="POST"
            style="display:inline;padding: 0;"
          >
            <button type="submit">
              Remove
            </button>
          </form>

        </li>

      <% }) %>
    </ul>

    <% } else { %>

    <p>You have not volunteered for any projects yet.</p>

    <% } %>
</main>

<%- include('partials/footer') %>
