<%- include('partials/header') %>

<main>
  <h1><%= project.title %></h1>

  <p>
    <strong>Description:</strong>

    <%= project.description %>
  </p>

  <p>
    <strong>Date:</strong>

    <%= new Date(project.project_date) .toLocaleDateString() %>
  </p>

  <p>
    <strong>Location:</strong>

    <%= project.location %>
  </p>

  <p>
    <strong>Organization:</strong>

    <a href="/organization/<%= project.organization_id %>">
      <%= project.organization_name %>
    </a>
  </p>

  <% if (user && user.role_name === 'admin') { %>

    <p class="edit-link">
      <a href="/assign-categories/<%= project.project_id %>">Edit Categories</a>
    </p>

    <p class="edit-link">
      <a href="/edit-project/<%= project.project_id %>">Edit Project</a>
    </p>
    <% } %>

    <% if (user) { %>

    <% if (!volunteerStatus) { %>

      <form action="/project/<%= project.project_id %>/volunteer" method="POST">
        <button type="submit">
          Volunteer For This Project
        </button>
      </form>

    <% } else { %>

      <p>You are volunteering for this project.</p>

      <form action="/project/<%= project.project_id %>/unvolunteer" method="POST">
        <button type="submit">
          Remove Volunteer Signup
        </button>
      </form>

    <% } %>

  <% } %>
</main>

<%- include('partials/footer') %>
