<%- include('partials/header') %>

<main>
  <h1><%= project.title %></h1>

  <p>
    <strong>Description:</strong>

    <%= project.description %>
  </p>

  <p>
    <strong>Date:</strong>

    <%= new Date(project.project_date) .toLocaleDateString() %>
  </p>

  <p>
    <strong>Location:</strong>

    <%= project.location %>
  </p>

  <p>
    <strong>Organization:</strong>

    <a href="/organization/<%= project.organization_id %>">
      <%= project.organization_name %>
    </a>
  </p>
  Add a link on the project page to navigate to the assign categories form. For
  example:
  <p>
    <a href="/assign-categories/<%= project.project_id %>">Edit Categories</a>
  </p>
</main>

<%- include('partials/footer') %>
